# note: these are only the additional dependencies required by the backend server
# to run this all the dependencies in the base level are still required.
fastapi==0.115.4
uvicorn==0.32.0
pydantic==2.9.2
geojson-pydantic==1.1.2
